@font-face {
    font-family: "Young-serif";
    src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf');
}

@font-face {
    font-family: "Outfit";
    src: url('./assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
    font-weight: 400;
}

body{
    background-color: black;
}

body{
    background: hsl(30, 54%, 90%);
    font-size: 16px;
    font-family: 'Outfit';
    color: rgb(97, 97, 97);
}

h2, h1{
    color: black;
    font-family: 'Young-serif';
}

.main-container{
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    border-radius: 10px;
    background: hsl(330, 100%, 98%);
    .header{
        h1{
            margin-bottom: 0px;
        }
        img{
            width: 100%;
            border-radius: 10px;
        }
        .sub-header{
            p{
                font-size: 14px;    
            }
        }
    }
    .preparation-time-section{
        h4{
            margin: 0px;
        }
        padding: 15px;
        background-color: rgb(253, 235, 241);
    }
}

.attribution{
    border: 1px solid red;
    display: flex;
    justify-content: space-around;
}